

{{#partial "preContent"}}
        <div class="col-md-12 col-sm-12 item card-main">
           <div class="card item-card card-block">
           <h4 class="card-title text-right"><i class="material-icons">Welcome to Aminal Sighting</i></h4>
            <img src="/images/ip3.jpg" alt="Photo of sunset">
             <h5 class="item-card-title mt-3 mb-3">What are we About ?</h5>
             <p class="card-text">This is a company that makes sure that we are aware of animal sighting scenes and what to expect .</p>
       </div>
         </div>
{{/partial}}

{{#partial "content"}}
    {{#if sightings}}
    <div class= "card ">
        <h4 class="text-center">All sightings established by all Rangers</h4>
        <table class="table text-center">
            <thead class="thead-light">
            <tr>
                <th scope="col">Animal Spotted</th>
                <th scope="col">Location</th>
                <th scope="col">Spotted On</th>
                <th scope="col">Ranger</th>
            </tr>
            </thead>
            <tbody>
            {{#each sightings}}
                <tr>
                    <td>{{nameofanimal}}</td>
                    <td>{{locationofSighting}}</td>
                    <td>{{timestamp}}</td>

                    <td><a href="/rangers/{{rangerid}}/details">{{sightings.rangerid}}</a></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <h5 class="text-center">Sorry No Sightings have been reported yet</h5>
    {{/if}}
    </div>
{{/partial}}

{{> layout.hbs}}
